

<div id="client-section" class="padding fordesktop">
    <div class="container">
      <div class="section-title " >
        
        <h1 class="popularjob" >Popular jobs
        </h1>
        <h4 class="view">View all
        </h4>
       
      </div>
      <div class="mx-auto my-1 justify-content-center" style="display: flex; padding-top: 1.5rem;">
        
              <div class="col-md-3  px-2 ">
                <div class="card pcard1">
                  <div class="card-img" class="cardlogo" >
                    <div class="row">
                    
                    <div class="col-md-3">
                        <div class="cardimg">
                        <img src="./assets/images/logo.png" class="img-fluid"> 
                    </div>
                    </div>
                    <div class="col-md-9">
                        <div style=" margin-top: 15px;">
                            <h2>Fullstack Web Developer </h2>
                            <p >Company Name</p>
                            </div>
                    </div>
                
                </div>
                    
                 
                <div class="job-detail">
                    <div class="row" >
                        <div class="col-md-6" style="display: flex;">
                            
                            <i class="bi bi-briefcase  ico1"></i> <p class="boxpfont">  02 to 08 years</p>
                        </div>
                        <div class="col-md-6" style="display: flex;">
                            <i class="bi bi-currency-rupee ico2" ></i><p >6 lacks - 18 lacks</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="display: flex;">
                            <i class="bi bi-clock ico1" ></i><p >Fulltime</p>
                        </div>
                        <div class="col-md-6" style="display: flex;">
                            <i class="bi bi-geo-alt ico2" ></i> <p >Banglore</p>
                        </div>
                    </div>
                </div> 
                <div class="row submit " >
                    <div class="col-md-6" style="display: flex;" >
                        <p class="save">Save Job</p>
                    </div>
                    <div class="col-md-6" style="display: flex;">
                        <p class="apply" >Apply Now</p>
                    </div>
                </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3  px-2 ">
                <div class="card pcard2">
                  <div class="card-img" class="cardlogo">
                    <div class="row">
                    <div class="col-md-3">
                        <div style="margin-left: 15px; margin-top: 15px; border: 1px solid gray;border-radius: 50%;padding: 5px;">
                        <img src="./assets/images/resume.png" class="img-fluid"> 
                    </div>
                    </div>
                    <div class="col-md-9">
                        <div style=" margin-top: 15px;">
                            <h2>Fullstack Web Developer </h2>
                            <p >Company Name</p>
                            </div>
                    </div>
                </div>
                    
                 
                <div class="job-detail">
                    <div class="row" >
                        <div class="col-md-6" style="display: flex;">
                            
                            <i class="bi bi-briefcase  ico1"></i> <p class="boxpfont">  02 to 08 years</p>
                        </div>
                        <div class="col-md-6" style="display: flex;">
                            <i class="bi bi-currency-rupee ico2" ></i><p >6 lacks - 18 lacks</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="display: flex;">
                            <i class="bi bi-clock ico1" ></i><p >Fulltime</p>
                        </div>
                        <div class="col-md-6" style="display: flex;">
                            <i class="bi bi-geo-alt ico2" ></i> <p >Banglore</p>
                        </div>
                    </div>
                </div> 
                <div class="row submit ">
                    <div class="col-md-6" style="display: flex;" >
                        <p class="save">Save Job</p>
                    </div>
                    <div class="col-md-6" style="display: flex;">
                        <p class="apply">Apply Now</p>
                    </div>
                </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3  px-2 ">
                <div class="card pcard3">
                  <div class="card-img" class="cardlogo">
                    <div class="row">
                    <div class="col-md-3">
                        <div class="cardimg">
                        <img src="./assets/images/logo.png" class="img-fluid"> 
                    </div>
                    </div>
                    <div class="col-md-9">
                        <div style=" margin-top: 15px;">
                            <h2>Fullstack Web Developer </h2>
                            <p >Company Name</p>
                            </div>
                    </div>
                </div>
                    
                 
                <div class="job-detail">
                    <div class="row" >
                        <div class="col-md-6" style="display: flex;">
                            
                            <i class="bi bi-briefcase  ico1"></i> <p class="boxpfont">  02 to 08 years</p>
                        </div>
                        <div class="col-md-6" style="display: flex;">
                            <i class="bi bi-currency-rupee ico2" ></i><p >6 lacks - 18 lacks</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="display: flex;">
                            <i class="bi bi-clock ico1" ></i><p >Fulltime</p>
                        </div>
                        <div class="col-md-6" style="display: flex;">
                            <i class="bi bi-geo-alt ico2" ></i> <p >Banglore</p>
                        </div>
                    </div>
                </div> 
                <div class="row submit ">
                    <div class="col-md-6" style="display: flex;" >
                        <p class="save">Save Job</p>
                    </div>
                    <div class="col-md-6" style="display: flex;">
                        <p class="apply">Apply Now</p>
                    </div>
                </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3  px-2 pcard4">
                <div class="card">
                  <div class="card-img" class="cardlogo">
                    <div class="row">
                    <div class="col-md-3">
                        <div class="cardimg">
                        <img src="./assets/images/logo.png" class="img-fluid"> 
                    </div>
                    </div>
                    <div class="col-md-9">
                        <div style=" margin-top: 15px;">
                            <h2>Fullstack Web Developer </h2>
                            <p >Company Name</p>
                            </div>
                    </div>
                </div>
                    
                 
                <div class="job-detail">
                    <div class="row" >
                        <div class="col-md-6" style="display: flex;">
                            
                            <i class="bi bi-briefcase  ico1"></i> <p class="boxpfont">  02 to 08 years</p>
                        </div>
                        <div class="col-md-6" style="display: flex;">
                            <i class="bi bi-currency-rupee ico2" ></i><p >6 lacks - 18 lacks</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="display: flex;">
                            <i class="bi bi-clock ico1" ></i><p >Fulltime</p>
                        </div>
                        <div class="col-md-6" style="display: flex;">
                            <i class="bi bi-geo-alt ico2" ></i> <p >Banglore</p>
                        </div>
                    </div>
                </div>

                <div class="row submit ">
                    <div class="col-md-6" style="display: flex;" >
                        <p class="save">Save Job</p>
                    </div>
                    <div class="col-md-6" style="display: flex;">
                        <p class="apply">Apply Now</p>
                    </div>
                </div>
                  </div>
                </div>
              </div>
            
            
      </div>
      <div class="mx-auto my-1 justify-content-center py-4" style="display: flex;">
        
        <div class="col-md-3  px-2 ">
          <div class="card pcard1">
            <div class="card-img" class="cardlogo">
              <div class="row">
              <div class="col-md-3">
                  <div class="cardimg">
                  <img src="./assets/images/logo.png" class="img-fluid"> 
              </div>
              </div>
              <div class="col-md-9">
                  <div style=" margin-top: 15px;">
                      <h2>Fullstack Web Developer </h2>
                      <p >Company Name</p>
                      </div>
              </div>
          </div>
              
           
          <div class="job-detail">
            <div class="row" >
                <div class="col-md-6" style="display: flex;">
                    
                    <i class="bi bi-briefcase  ico1"></i> <p class="boxpfont">  02 to 08 years</p>
                </div>
                <div class="col-md-6" style="display: flex;">
                    <i class="bi bi-currency-rupee ico2" ></i><p >6 lacks - 18 lacks</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="display: flex;">
                    <i class="bi bi-clock ico1" ></i><p >Fulltime</p>
                </div>
                <div class="col-md-6" style="display: flex;">
                    <i class="bi bi-geo-alt ico2" ></i> <p >Banglore</p>
                </div>
            </div>
        </div> 
          <div class="row submit ">
            <div class="col-md-6" style="display: flex;" >
                <p class="save">Save Job</p>
            </div>
            <div class="col-md-6" style="display: flex;">
                <p class="apply">Apply Now</p>
            </div>
        </div>
            </div>
          </div>
        </div>
        <div class="col-md-3  px-2 ">
          <div class="card pcard2">
            <div class="card-img" class="cardlogo">
              <div class="row">
              <div class="col-md-3">
                  <div class="cardimg">
                  <img src="./assets/images/logo.png" class="img-fluid"> 
              </div>
              </div>
              <div class="col-md-9">
                  <div style=" margin-top: 15px;">
                      <h2>Fullstack Web Developer </h2>
                      <p >Company Name</p>
                      </div>
              </div>
          </div>
              
           
          <div class="job-detail">
            <div class="row" >
                <div class="col-md-6" style="display: flex;">
                    
                    <i class="bi bi-briefcase  ico1"></i> <p class="boxpfont">  02 to 08 years</p>
                </div>
                <div class="col-md-6" style="display: flex;">
                    <i class="bi bi-currency-rupee ico2" ></i><p >6 lacks - 18 lacks</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="display: flex;">
                    <i class="bi bi-clock ico1" ></i><p >Fulltime</p>
                </div>
                <div class="col-md-6" style="display: flex;">
                    <i class="bi bi-geo-alt ico2" ></i> <p >Banglore</p>
                </div>
            </div>
        </div> 
          <div class="row submit ">
            <div class="col-md-6" style="display: flex;" >
                <p class="save">Save Job</p>
            </div>
            <div class="col-md-6" style="display: flex;">
                <p class="apply">Apply Now</p>
            </div>
        </div>
            </div>
          </div>
        </div>
        <div class="col-md-3  px-2 ">
          <div class="card pcard3">
            <div class="card-img" class="cardlogo">
              <div class="row">
              <div class="col-md-3">
                  <div class="cardimg">
                  <img src="./assets/images/logo.png" class="img-fluid"> 
              </div>
              </div>
              <div class="col-md-9">
                  <div style=" margin-top: 15px;">
                      <h2>Fullstack Web Developer </h2>
                      <p >Company Name</p>
                      </div>
              </div>
          </div>
              
           
          <div class="job-detail">
            <div class="row" >
                <div class="col-md-6" style="display: flex;">
                    
                    <i class="bi bi-briefcase  ico1"></i> <p class="boxpfont">  02 to 08 years</p>
                </div>
                <div class="col-md-6" style="display: flex;">
                    <i class="bi bi-currency-rupee ico2" ></i><p >6 lacks - 18 lacks</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="display: flex;">
                    <i class="bi bi-clock ico1" ></i><p >Fulltime</p>
                </div>
                <div class="col-md-6" style="display: flex;">
                    <i class="bi bi-geo-alt ico2" ></i> <p >Banglore</p>
                </div>
            </div>
        </div> 
        <div class="row submit ">
            <div class="col-md-6" style="display: flex;" >
                <p class="save">Save Job</p>
            </div>
            <div class="col-md-6" style="display: flex;">
                <p class="apply">Apply Now</p>
            </div>
        </div>
            </div>
          </div>
        </div>
        <div class="col-md-3  px-2 pcard4">
          <div class="card">
            <div class="card-img" class="cardlogo">
              <div class="row">
              <div class="col-md-3">
                  <div class="cardimg">
                  <img src="./assets/images/logo.png" class="img-fluid"> 
              </div>
              </div>
              <div class="col-md-9">
                  <div style=" margin-top: 15px;">
                      <h2>Fullstack Web Developer </h2>
                      <p >Company Name</p>
                      </div>
              </div>
          </div>
              
           
          <div class="job-detail">
            <div class="row" >
                <div class="col-md-6" style="display: flex;">
                    
                    <i class="bi bi-briefcase  ico1"></i> <p class="boxpfont">  02 to 08 years</p>
                </div>
                <div class="col-md-6" style="display: flex;">
                    <i class="bi bi-currency-rupee ico2" ></i><p >6 lacks - 18 lacks</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="display: flex;">
                    <i class="bi bi-clock ico1" ></i><p >Fulltime</p>
                </div>
                <div class="col-md-6" style="display: flex;">
                    <i class="bi bi-geo-alt ico2" ></i> <p >Banglore</p>
                </div>
            </div>
        </div>
        <div class="row submit ">
            <div class="col-md-6" style="display: flex;" >
                <p class="save">Save Job</p>
            </div>
            <div class="col-md-6" style="display: flex;">
                <p class="apply">Apply Now</p>
            </div>
        </div>
            </div>
          </div>
        </div>
      
      
</div>
      
    </div>
  </div>

  <!-- Mobile view start -->

  <div id="client-section" class="padding formobile">
    <div class="container">
      <div class="section-title " >
        
        <h1 class="popularjob" >Popular jobs
        </h1>
        <h4 class="view">View all
        </h4>
       
      </div>
      <div class="  mx-auto my-1 justify-content-center py-4" style="display: flex;">
        
        <div class="col-sm-6  px-2 ">
          <div class="card pcard1">
            <div class="card-img" class="cardlogo">
              <div class="row">
              <div class="col-sm-3">
                  <div class="cardimg">
                  <img src="./assets/images/logo.png" class="img-fluid"> 
              </div>
              </div>
              <div class="col-sm-9">
                  <div style=" margin-top: 15px;">
                      <h2>Fullstack Web Developer </h2>
                      <p >Company Name</p>
                      </div>
              </div>
          </div>
              
           
          <div class="job-detail">
            <div class="row" >
                <div class="col-sm-6" style="display: flex;">
                    
                    <i class="bi bi-briefcase  ico1"></i> <p class="boxpfont">  02 to 08 years</p>
                </div>
                <div class="col-sm-6" style="display: flex;">
                    <i class="bi bi-currency-rupee ico2" ></i><p >6 lacks - 18 lacks</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" style="display: flex;">
                    <i class="bi bi-clock ico1" ></i><p >Fulltime</p>
                </div>
                <div class="col-sm-6" style="display: flex;">
                    <i class="bi bi-geo-alt ico2" ></i> <p >Banglore</p>
                </div>
            </div>
        </div> 
          <div class="row submit ">
            <div class="col-sm-6" style="display: flex;" >
                <p class="save">Save Job</p>
            </div>
            <div class="col-sm-6" style="display: flex;">
                <p class="apply">Apply Now</p>
            </div>
        </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6  px-2 ">
          <div class="card pcard2">
            <div class="card-img" class="cardlogo">
              <div class="row">
              <div class="col-sm-3">
                  <div class="cardimg">
                  <img src="./assets/images/logo.png" class="img-fluid"> 
              </div>
              </div>
              <div class="col-sm-9">
                  <div style=" margin-top: 15px;">
                      <h2>Fullstack Web Developer </h2>
                      <p >Company Name</p>
                      </div>
              </div>
          </div>
              
           
          <div class="job-detail">
            <div class="row" >
                <div class="col-sm-6" style="display: flex;">
                    
                    <i class="bi bi-briefcase  ico1"></i> <p class="boxpfont">  02 to 08 years</p>
                </div>
                <div class="col-sm-6" style="display: flex;">
                    <i class="bi bi-currency-rupee ico2" ></i><p >6 lacks - 18 lacks</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" style="display: flex;">
                    <i class="bi bi-clock ico1" ></i><p >Fulltime</p>
                </div>
                <div class="col-sm-6" style="display: flex;">
                    <i class="bi bi-geo-alt ico2" ></i> <p >Banglore</p>
                </div>
            </div>
        </div> 
          <div class="row submit ">
            <div class="col-sm-6" style="display: flex;" >
                <p class="save">Save Job</p>
            </div>
            <div class="col-sm-6" style="display: flex;">
                <p class="apply">Apply Now</p>
            </div>
        </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-4  px-2 ">
            <div class="card pcard2">
              <div class="card-img" class="cardlogo">
                <div class="row">
                <div class="col-sm-3">
                    <div class="cardimg">
                    <img src="./assets/images/logo.png" class="img-fluid"> 
                </div>
                </div>
                <div class="col-sm-9">
                    <div style=" margin-top: 15px;">
                        <h2>Fullstack Web Developer </h2>
                        <p >Company Name</p>
                        </div>
                </div>
            </div>
                
             
            <div class="job-detail">
              <div class="row" >
                  <div class="col-sm-6" style="display: flex;">
                      
                      <i class="bi bi-briefcase  ico1"></i> <p class="boxpfont">  02 to 08 years</p>
                  </div>
                  <div class="col-sm-6" style="display: flex;">
                      <i class="bi bi-currency-rupee ico2" ></i><p >6 lacks - 18 lacks</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6" style="display: flex;">
                      <i class="bi bi-clock ico1" ></i><p >Fulltime</p>
                  </div>
                  <div class="col-sm-6" style="display: flex;">
                      <i class="bi bi-geo-alt ico2" ></i> <p >Banglore</p>
                  </div>
              </div>
          </div> 
            <div class="row submit ">
              <div class="col-sm-6" style="display: flex;" >
                  <p class="save">Save Job</p>
              </div>
              <div class="col-sm-6" style="display: flex;">
                  <p class="apply">Apply Now</p>
              </div>
          </div>
              </div>
            </div>
          </div> -->
        
</div>
      
    </div>
  </div> 
  