<!-- <p>resume works!</p> -->
<div id="counter" class="padding" style="background-color: #fff;">
    <div class="container">
      <div class="row mabot">
        <div class="col-md-12">
          <div class="utf-banner-headline-text-part heading">
            <h1 class="herotext">How to create
               </h1>
               <h1 class="herotext"><span> </span>   a job winning resume
              </h1>
            <!-- <p style="color: #1a53a6;  font-size: 16px;font-weight: 500">A place where dreams meet opportunities </p> -->
          </div>
        </div>
      </div>
      <!-- <h1  class="resumeheading" >How to create a job winning resume
      </h1> -->
      <div class="row need-help-area justify-content-around resumemain">
        <div class="col-xl-4 col-md-4" >
          <div class="info-box-1 resumecard" >
            <div class="utf-icon-box-circle">
              <img src="./assets/images/resume 1.png" alt="logo">
              <!-- <div class="utf-icon-box-circle-inner"> <i class="bi bi-briefcase"></i></div> -->
            </div>
            <div class="utf-icon-box-circle1 stepnum">
              <h2 style="color: #fff; padding-top: 8px;">1</h2>
            </div>
            <div class="resumehead">
            <h1>Select template</h1>
            <p>Choose a professionally designed
              template</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4">
          <div class="info-box-1 resumecard">
            <div class="utf-icon-box-circle">
              <img src="./assets/images/resume 2.png" alt="logo">
              <!-- <div class="utf-icon-box-circle-inner"> <i class="bi-telephone"></i></div> -->
            </div>

            <div class="utf-icon-box-circle1 stepnum">
              <h2 style="color: #fff; padding-top: 8px;">2</h2>
            </div>

            <div class="resumehead">
            <h1>Fill the details</h1>
            <p>Fill all the relevant details as per
              the job you’re applying for.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4">
          <div class="info-box-1 resumecard">
            <div class="utf-icon-box-circle">
              <img src="./assets/images/resume 3.png" alt="logo">
              <!-- <div class="utf-icon-box-circle-inner"><i class="bi bi-geo-alt-fill"></i></div> -->
            </div>
            <div class="utf-icon-box-circle1 stepnum">
              <h2 style="color: #fff; padding-top: 8px;">3</h2>
            </div>
            <div class="resumehead">
            <h1>Download resume</h1>
            <p>Get the professional Resume that
              is ready for you.</p>
            </div>
          </div>
        </div>
      </div>
      <div  class="row" style="margin-top: 30px; text-align: center;">
        
        <div class="col-md-12 col-lg-12 col-sm-12">
            <a href="#" class="card-link  btn btn-primary button utf-ripple-effect-dark register-btn" >Create resume</a>
            <!-- <a href="#" class="card-link  btn btn-primary button utf-ripple-effect-dark register-btn">Create profile</a> -->
        </div>
        
       
      </div>
    </div>
  </div>