
    <div id="bottom-header" class="headhid">
      <nav class="navbar navbar-expand-sm">
      <div class="container">
        <!-- <button class="navbar-toggler" data-toggle="collapse" data-target="navbarSupportedContent">    -->
          <!-- <span class="navbar-toggler-icon"></span>
      </button> -->
      
          <a class="navbar-brand" href="#"><img src="./assets/images/logo.png" alt="logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation" id="toggleButton">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">           
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 btn-group hide">
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Career Services
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Job By Categories</a></li>
                  <li><a class="dropdown-item" href="#">Job By Location</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown" style="padding-right:20px; border-right: 1px solid #1a53a6;">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Blog
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Upload Resume</a>
                  </li>
                  
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li style="padding-left:20px">
                <a href="#" target="_self" role="button" class="btn btn-outline-primary">Post a Job</a>
              </li>
              
            </ul>
            
          </div>
          <span style="padding-left: 20px;">
            <a class="btn btn-primary " style="background-color: #F05537;border: none;"  [routerLink]="'/admin/login'">Login/Register</a>
          </span>
          </div>
        </nav>
        

    </div>


    

    
