/* ==========================================================================
        HERO BANNER CSS START
========================================================================== */

body, h1, h2, h3, h4, h5, h6, p,a,input[type="text"], input[type="password"], input[type="email"],  textarea, select, input[type="button"], input[type="submit"], button, body .pac-container {
	font-family: "lato", sans-serif;
	text-transform: none;
}
#hero-banner .intro-banner {
    /* background-image: url(/assets/images/hero-img.png); */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 65px 0px;

}
.herotext{
    word-spacing: 5px;
    color: #000;
    margin-bottom: 7px;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 3px;
}

#hero-banner .btn-group {
    margin-top: 50px;
    display: flex;
    /* margin-left: 150px; */
}

#hero-banner .btn-group .btn {
    /* width: 180px; */
    font-weight: 400;
    min-height: 30px;
}
.banner{
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.banbutton1{
    background-color: #fff; 
    color: #407BFF;
}
.banbutton2{
    background-color: #F05537;
}
#hero-banner .btn-group .upload-btn {
    background-color: transparent;
    color: #878787;
    border: 1px solid #878787;
    line-height: 14px;
    /* width: 100%; */
    text-align: initial;

}
#heropop{
    padding: 20px; 
    background-color: #fff;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heading{
    display: flex;
    justify-content: center;
}
#hero-banner .btn-group .upload-btn:hover {

    background-color: #159EEC;
    color: #fff;
}

.utf-intro-search-button {
    margin: 0px;
}

.navbar-brand img {
    /* margin-top: -15px; */
    margin-left: -10px
}

.mobile-btn {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    background-color: azure;
}
.intro-banner:before {
    content: "";
    position: absolute;
    min-height: 500px;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    /* z-index: 15; */
    /* opacity: 0.7; */
    background-color: rgb(172 214 247 / 80%) !important;
}



/* ==========================================================================
        section-3 CSS START
========================================================================== */
.find-section {
    background-color: #f6f7ff;
    /* padding: 50px 0px; */

}

.find-section .card {
    /* background-image: url(../images/card-bg.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right -200px top -90px;
}

.find-section .card-body .card-title {
    font-size: 28px;
    font-weight: 700;
    color: #159EEC;

}

.find-section .card-left {
    background-color: #407BFF;
    z-index: 1;
    /* margin-top: 60px; */
}

.find-section .card-right .card-title {
    color: #fff;
}

.find-section .card-right {
    background-color: #f48341;
}

.find-section .card-body .btn {

    font-size: 16px;
    font-weight: 600;
    padding: 5px 25px;
}




.hover-styled:hover {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) .1s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
input::placeholder{
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;
}




/* ==========================================================================
        Responsive css
========================================================================== */

@media screen and (max-width: 1200px) { 

body, h1, h2, h3, h4, h5, h6, p,a,input[type="text"], input[type="password"], input[type="email"],  textarea, select, input[type="button"], input[type="submit"], button, body .pac-container {
	font-family: "lato", sans-serif;
	text-transform: none;
}
#hero-banner .intro-banner {
    /* background-image: url(/assets/images/hero-img.png); */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 65px 0px;

}
.herotext{
    color: #000;
    margin-bottom: 7px;
    font-size: 34px;
    font-weight: 100;

}
.heading{
    display: flex;
}
#hero-banner .btn-group {
    margin-top: 50px;
    display: flex;
    /* margin-left: 150px; */
}

#hero-banner .btn-group .btn {
    /* width: 180px; */
    font-weight: 400;
    min-height: 25px;
    font-size: 12px;
}
.banner{
    color: #fff;
    font-size: 22px;
}
.banbutton1{
    background-color: #fff; 
    color: #407BFF;
}
.banbutton2{
    background-color: #F05537;
}
#hero-banner .btn-group .upload-btn {
    background-color: transparent;
    color: #878787;
    border: 1px solid #878787;
    line-height: 12px;
    /* width: 100%; */
    text-align: initial;

}
#heropop{
    padding: 20px; 
    background-color: #fff;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#hero-banner .btn-group .upload-btn:hover {

    background-color: #159EEC;
    color: #fff;
}

.utf-intro-search-button {
    margin: 0px;
}

.navbar-brand img {
    /* margin-top: -15px; */
    margin-left: -10px
}

.mobile-btn {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    background-color: azure;
}
.intro-banner:before {
    content: "";
    position: absolute;
    min-height: 500px;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    /* z-index: 15; */
    /* opacity: 0.7; */
    background: #F1F9FE;
}



/* ==========================================================================
        section-3 CSS START
========================================================================== */
.find-section {
    background-color: #f6f7ff;
    /* padding: 50px 0px; */

}

.find-section .card {
    /* background-image: url(../images/card-bg.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right -200px top -90px;
}

.find-section .card-body .card-title {
    font-size: 28px;
    font-weight: 700;
    color: #159EEC;

}

.find-section .card-left {
    background-color: #407BFF;
    z-index: 1;
    /* margin-top: 60px; */
}

.find-section .card-right .card-title {
    color: #fff;
}

.find-section .card-right {
    background-color: #f48341;
}

.find-section .card-body .btn {

    font-size: 16px;
    font-weight: 600;
    padding: 5px 25px;
}




.hover-styled:hover {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) .1s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
input::placeholder{
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;
}



}

@media screen and (max-width: 992px) { 

    body, h1, h2, h3, h4, h5, h6, p,a,input[type="text"], input[type="password"], input[type="email"],  textarea, select, input[type="button"], input[type="submit"], button, body .pac-container {
        font-family: "lato", sans-serif;
        text-transform: none;
    }
    #hero-banner .intro-banner {
        /* background-image: url(/assets/images/hero-img.png); */
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 65px 0px;
    
    }
    .herotext{
        color: #000;
        margin-bottom: 0px;
        font-size: 34px;
        line-height: 31px;
        font-weight: 100;
    
    }
    .heading{
        display: block;
    }
    #hero-banner .btn-group {
        margin-top: 50px;
        display: flex;
        /* margin-left: 150px; */
    }
    
    #hero-banner .btn-group .btn {
        /* width: 180px; */
        font-weight: 400;
        min-height: 25px;
        font-size: 12px;
    }
    
    #hero-banner .btn-group .upload-btn {
        background-color: transparent;
    /* color: #878787; */
    /* border: 1px solid #878787; */
    line-height: 12px;
    text-align: initial;
    border: none;
    /* width:120px; */
    margin-top: -50px;
    }
    #heropop{
        padding: 20px; 
        background-color: #fff;
        z-index: 1;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    /* .disnone{
        display: none;
    } */
    #hero-banner .btn-group .upload-btn:hover {
    
        background-color: #159EEC;
        color: #fff;
    }
    
    .utf-intro-search-button {
        margin: 0px;
    }
    .banner{
        color: #fff;
        font-size: 18px;
    }
    .banbutton1{
        background-color: #fff; 
        color: #407BFF;
    }
    .banbutton2{
        background-color: #F05537;
    }
    .navbar-brand img {
        /* margin-top: -15px; */
        margin-left: -10px
    }
    
    .mobile-btn {
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid gray;
        background-color: azure;
    }
    .intro-banner:before {
        content: "";
        position: absolute;
        min-height: 400px;
        width: 100%;
        display: flex;
        top: 0;
        left: 0;
        /* z-index: 15; */
        /* opacity: 0.7; */
        background: #F1F9FE;
    }
    
    
    
    /* ==========================================================================
            section-3 CSS START
    ========================================================================== */
    .find-section {
        background-color: #f6f7ff;
        /* padding: 50px 0px; */
        margin-top: -50px;
    
    }
    
    .find-section .card {
        /* background-image: url(../images/card-bg.png); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right -200px top -90px;
    }
    
    .find-section .card-body .card-title {
        font-size: 28px;
        font-weight: 700;
        color: #159EEC;
    
    }
    
    .find-section .card-left {
        background-color: #407BFF;
        z-index: 1;
        /* margin-top: 60px; */
    }
    
    .find-section .card-right .card-title {
        color: #fff;
    }
    
    .find-section .card-right {
        background-color: #f48341;
    }
    
    .find-section .card-body .btn {
    
        font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
    }
    
    
    
    
    .hover-styled:hover {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
        -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) .1s;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    input::placeholder{
        font-size: 14px;
        line-height: 14px;
        vertical-align: middle;
    }
    .disnone{
        display: none;
    }
    
    
    }

    @media screen and (max-width: 768px) { 

        body, h1, h2, h3, h4, h5, h6, p,a,input[type="text"], input[type="password"], input[type="email"],  textarea, select, input[type="button"], input[type="submit"], button, body .pac-container {
            font-family: "lato", sans-serif;
            text-transform: none;
            /* height: 45px; */
            font-size: 16px;
        }
        #hero-banner .intro-banner {
            /* background-image: url(/assets/images/hero-img.png); */
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 65px 0px;
        
        }
        .utf-intro-search-button .button {
            width: 100%;
            height: 45px;
            border-radius: 4px;
        }
        .utf-intro-banner-search-form-block input {
            height: 45px;
            /* padding: 15px 22px; */
        }
        .utf-intro-search-button .button {
            height: 40px;
            line-height: 20px;
            padding: 0 50px;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            /* border-top-right-radius: 10px;
            border-bottom-right-radius: 10px; */
        }
        .herotext{
            color: #000;
            margin-bottom: 0px;
            font-size: 32px;
            line-height: 34px;
            font-weight: 100;
        
        }
        .heading{
            display: block;
        }
        #hero-banner .btn-group {
            margin-top: 30px;
            display: flex;
            /* margin-left: 150px; */
        }
        .disnone{
            display: none;
        }
        #hero-banner .btn-group .btn {
            /* width: 180px; */
            font-weight: 400;
            min-height: 25px;
            font-size: 12px;
        }
        
        #hero-banner .btn-group .upload-btn {
            background-color: transparent;
        /* color: #878787; */
        /* border: 1px solid #878787; */
        line-height: 12px;
        text-align: initial;
        border: none;
        /* width:120px; */
        margin-top: -50px;
        box-shadow: none;
        }
        #heropop{
            padding: 20px; 
            background-color: #159EEC;
            z-index: 1;
            /* border-radius: 5px; */
            /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
            box-shadow: none;
        }
        /* .disnone{
            display: none;
        } */
        #hero-banner .btn-group .upload-btn:hover {
        
            background-color: #159EEC;
            color: #fff;
        }
        
        .utf-intro-search-button {
            margin: 0px;
        }
        .banner{
            color: #fff;
            font-size: 22px;
        }
        .banbutton1{
            background-color: #fff; 
            color: #407BFF;
            width: 100%;
            margin-bottom: 15px;
        }
        .banbutton2{
            background-color: #F05537;
            width: 100%;
            margin-left: -10px;
        }
        .navbar-brand img {
            /* margin-top: -15px; */
            margin-left: -10px
        }
        
        .mobile-btn {
            padding-left: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid gray;
            background-color: azure;
        }
        .intro-banner:before {
            content: "";
            position: absolute;
            min-height: 400px;
            width: 100%;
            display: flex;
            top: 0;
            left: 0;
            /* z-index: 15; */
            /* opacity: 0.7; */
            background: #F1F9FE;
        }
        
        
        
        /* ==========================================================================
                section-3 CSS START
        ========================================================================== */
        .find-section {
            background-color: #159EEC;
            /* padding: 50px 0px; */
            margin-top: 0px;
            position: relative;
            top: -20px;
        
        }
        
        .find-section .card {
            /* background-image: url(../images/card-bg.png); */
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right -200px top -90px;
        }
        
        .find-section .card-body .card-title {
            font-size: 28px;
            font-weight: 700;
            color: #159EEC;
        
        }
        
        .find-section .card-left {
            background-color: #159EEC;
            z-index: 1;
            /* margin-top: 60px; */
            border: none;
        }
        
        .find-section .card-right .card-title {
            color: #fff;
        }
        
        .find-section .card-right {
            background-color: #f48341;
        }
        
        .find-section .card-body .btn {
        
            font-size: 14px;
        font-weight: 600;
        padding: 5px 10px;
        height: 40px;
        line-height: 30px;
        }
        .disblock{
            display: block;
        }
        .txtce{
            text-align: center;
        }
        
        
        .hover-styled:hover {
            -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
            -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) .1s;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        input::placeholder{
            font-size: 14px;
            line-height: 14px;

            vertical-align: middle;
        }
        
        
        
        }