
<div id="client-section" class="padding">
    <div class="container">
      <div class="section-title " >
        
        <h1 class="jobcategory">Explore jobs by category
        </h1>
        <h4 class="view">View all
        </h4>
       
      </div>
      <div class="mx-auto my-1 justify-content-center py-4" style="display: flex;">
        
              <div class="col-md-3 w-25 px-2 ">
                <div class="card card1">
                  <div class="card-img cathead" >
                    <div class="catlogo"><img src="./assets/images/resume.png" class="img-fluid"></div>
                   <div class="catbox">
                    <h2>Marketing & Communication</h2>
                    <p class="ppad">237 Jobs Available</p></div> 
                  </div>
                </div>
              </div>
              <div class="col-md-3 w-25 px-2 ">
                <div class="card card2">
                  <div class="card-img cathead" >
                    <div class="catlogo"><img src="./assets/images/resume.png" class="img-fluid"></div>
                   <div class="catbox">
                    <h2>Marketing & Communication</h2>
                    <p class="ppad">237 Jobs Available</p></div> 
                  </div>
                </div>
              </div>
              <div class="col-md-3 w-25 px-2 card3 ">
                <div class="card">
                  <div class="card-img cathead" >
                    <div class="catlogo"><img src="./assets/images/resume.png" class="img-fluid"></div>
                   <div class="catbox">
                    <h2>Marketing & Communication</h2>
                    <p class="ppad">237 Jobs Available</p></div> 
                  </div>
                </div>
              </div>
              <div class="col-md-3 w-25 px-2  card4">
                <div class="card">
                  <div class="card-img cathead" >
                    <div class="catlogo"><img src="./assets/images/resume.png" class="img-fluid"></div>
                   <div class="catbox">
                    <h2>Marketing & Communication</h2>
                    <p class="ppad">237 Jobs Available</p></div> 
                  </div>
                </div>
              </div>     
      </div>

      <div class="mx-auto my-1 justify-content-center " style="display: flex;padding-bottom: 30px;">
        
        <div class="col-md-3 w-25 px-2 ">
          <div class="card card1">
            <div class="card-img cathead" >
              <div class="catlogo"><img src="./assets/images/resume.png" class="img-fluid"></div>
             <div class="catbox">
              <h2>Marketing & Communication</h2>
              <p class="ppad">237 Jobs Available</p></div> 
            </div>
          </div>
        </div>
        <div class="col-md-3 w-25 px-2 ">
          <div class="card card2">
            <div class="card-img cathead"  >
              <div class="catlogo"><img src="./assets/images/resume.png" class="img-fluid"></div>
             <div class="catbox">
              <h2>Marketing & Communication</h2>
              <p class="ppad">237 Jobs Available</p></div> 
            </div>
          </div>
        </div>
        <div class="col-md-3 w-25 px-2 card3 ">
          <div class="card">
            <div class="card-img cathead" >
              <div class="catlogo"><img src="./assets/images/resume.png" class="img-fluid"></div>
             <div class="catbox">
              <h2>Marketing & Communication</h2>
              <p class="ppad">237 Jobs Available</p></div> 
            </div>
          </div>
        </div>
        <div class="col-md-3 w-25 px-2 card4 ">
          <div class="card">
            <div class="card-img cathead" >
              <div class="catlogo"><img src="./assets/images/resume.png" class="img-fluid"></div>
             <div class="catbox">
              <h2>Marketing & Communication</h2>
              <p class="ppad">237 Jobs Available</p></div> 
            </div>
          </div>
        </div>     
</div>
      
    </div>
  </div>

  <!-- Client Section End -->