<div class="col-md-3">
    <div class="main-profile">
        <div class="card">
            <div class="card-body">
                <div>
                    <li class="row tabs-main" (click)="toggleSidebar()">
                        <a href="#" class="link">
                            <div>
                                <img src="./assets/images/collapse.png" alt="Collapse">
                            </div>
                        </a>
                    </li>
                </div>
                <ul id="sidebar-menu" [ngClass]="{'collapsed': isCollapsed}">
                  
                   <li class="row tabs-main hover"><a class="link "><div>User Dashboard</div> </a></li>
                    <li class="row tabs-main hover" *ngFor="let module of dataValue"><a class="link "><div><img [src]="module.icon"> {{module.name}}</div></a></li>
                    <!-- <li class="row tabs-main "><a  class="link "><div ><img src="./assets/images/role.png"> Role and Permission </div> </a></li>
                    <li class="row tabs-main "><a class="link "><div ><img src="./assets/images/jobmanage.png"> Job Management </div> </a></li>
                    <li class="row tabs-main "><a class="link "><div ><img src="./assets/images/seekermanage.png"> Jobseeker Management</div> </a></li>
                    <li class="row tabs-main "><a class="link "><div ><img src="./assets/images/seekermanage.png"> Recruiter Management </div> </a></li>
                    <li class="row tabs-main "><a class="link "><div ><img src="./assets/images/blogmanage.png"> Blog Management</div> </a></li>
                    <li class="row tabs-main "><a class="link "><div ><img src="./assets/images/seomanage.png"> SEO Management </div> </a></li>
                    <li class="row tabs-main "><a class="link "><div ><img src="./assets/images/sitemanage.png">Site Access</div> </a></li>
                    <li class="row tabs-main "><a class="link "><div ><img src="./assets/images/support.png"> Support </div> </a></li>
                    <li class="row tabs-main "><a class="link "><div ><img src="./assets/images/sitemanage.png"> Setting </div> </a></li>  -->
                </ul>
            </div>
        </div>
    </div>
</div>
