@media (max-width: 1440px) {
    .headhid{
        display: none;
    } 
}
@media (max-width: 992px) {
.hidden {
    display: none;
  }
  .navstyle {
    position: absolute;
    z-index: 115;
    background-color: #fff;
    width: 50%;
    /* top: 0; */
}
.headhid{
    display: block;
}
.navbar-toggler-icon {
    position: fixed;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url(/assets/images/hamburger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    margin-left: 6%;
}

.buttonstyle {
    background-color: #F05537;
    border: none;
    height: 30px;
    font-size: 12px;
    color: #fff;
    margin-left: 42%;
}
.listyle1{
    list-style: none;
    height: 30px;
    border-bottom: 1px solid #E0E0E0;
    margin-top: 10px;
}
.listyle{
    list-style: none;
    height: 30px;
    border-bottom: 1px solid #E0E0E0;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: #000;
}
.mrleft{
    margin-left: 5%;
}
.profile{
    height: 80px;
    width: 90%;
    background-color: #159EEC;
    color: #fff;
    border-radius: 10px;
    display: flex;
    margin-left: 1rem;
}
.prostyle{
    height: 62%;
    width: 100%;
    margin: 30% 30%;
    border: 1px solid #fff;
    border-radius: 50%;
    background: white;
}
.img-box{
    display: flex;
}
.txtstyle{

    top: 25%;
    position: relative;
    left: 10%;
}
body p {
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 0px;
}
h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
   color: #fff;
    letter-spacing: .0125em;
    margin: 0 0 0px;
}
.logostyle{
    height: 50px;
    width: 150px;
    margin-left: 10px;
}
.closebtn{
    margin-left: 269px;
    /* margin-top: -89px !important; */
}
ul {
    padding-left: 0rem;
}
.buttonstyle1 {
    background-color: #407BFF;
    border: none;
    height: 30px;
    font-size: 12px;
    margin-left: 5%;
    color:#fff
}
.emstyle{
    margin-left: 5%;
    margin-top: 3%;
    color: #000;
}
}

@media (max-width: 768px) {
    .hidden {
        display: none;
      }
      .navstyle {
        position: absolute;
        z-index: 115;
        background-color: #fff;
        width: 50%;
        /* top: 0; */
    }
    .headhid{
        display: block;
    }
    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-image: url(/assets/images/hamburger.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        margin-left: 6%;
    }
    
    .buttonstyle {
        background-color: #F05537;
        border: none;
        height: 30px;
        font-size: 12px;
        color: #fff;
        margin-left: 25%;
    }
    .listyle1{
        list-style: none;
        height: 30px;
        border-bottom: 1px solid #E0E0E0;
        margin-top: 10px;
    }
    .listyle{
        list-style: none;
        height: 30px;
        border-bottom: 1px solid #E0E0E0;
        margin-top: 10px;
    }
    a{
        text-decoration: none;
        color: #000;
    }
    .mrleft{
        margin-left: 5%;
    }
    .profile{
        height: 80px;
        width: 90%;
        background-color: #159EEC;
        color: #fff;
        border-radius: 10px;
        display: flex;
        margin-left: 1rem;
    }
    .prostyle{
        height: 62%;
        width: 100%;
        margin: 30% 30%;
        border: 1px solid #fff;
        border-radius: 50%;
        background: white;
    }
    .img-box{
        display: flex;
    }
    .txtstyle{
    
        top: 25%;
        position: relative;
        left: 10%;
    }
    body p {
        font-size: 16px;
        line-height: 16px;
        margin: 0 0 0px;
    }
    h2 {
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
       color: #fff;
        letter-spacing: .0125em;
        margin: 0 0 0px;
    }
    .logostyle{
        height: 50px;
        width: 150px;
        margin-left: 10px;
    }
    ul {
        padding-left: 0rem;
    }
    .buttonstyle1 {
        background-color: #407BFF;
        border: none;
        height: 30px;
        font-size: 12px;
        margin-left: 5%;
        color:#fff
    }
    .emstyle{
        margin-left: 5%;
        margin-top: 3%;
    }

    #navbar{
        background-color: white;
        margin-top: -40px;
        width: 332px;
        height: 100%;
        position: fixed !important;
        margin-left: -12px;

    }   
    
    }

