<!-- <p>recruiter-steps works!</p> -->
<section class="padding">
    <div class="candidate" >
      <div class="container">
        <div class="section-title">
          <h1 class="recruiterstep" >Hire with confidence - Simplify, Engage, Succeed</h1>
          <!-- <p>To choose your trending job dream & to <span>make future bright.</span></p> -->
        </div>
        <div class="row">
          <div class="col-md-4 col-lg-4 hover-styled">
            <div class="inner-info-box text-center" id="line1">
              <div class="img-box"><img src="./assets/images/resume.png"></div>
              <h4 style="font-size: 28px; padding-top: 10px;">Create profile</h4>
              <!-- <p>Fill a simple form and
                create your profile</p> -->

            </div>
          </div>
          <div class="col-md-4 col-lg-4 hover-styled">
            <div class="inner-info-box text-center">
              <div class="img-box"><img src="./assets/images/Jobs.png"></div>
              <h4 style="font-size: 28px; padding-top: 10px;">Post your job</h4>
              <!-- <p>Fill a simple form and
                create your profile</p> -->

            </div>
          </div>
          <div class="col-md-4 col-lg-4 hover-styled">
            <div class="inner-info-box text-center" id="line2" >
              <div class="img-box"><img src="./assets/images/Hire.png"></div>
              <h4 style="font-size: 28px; padding-top: 10px;" >Hire top talent</h4>
              <!-- <p>Fill a simple form and
                create your profile</p> -->

            </div>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12" style="text-align: center;">
            <a href="#" class="card-link  btn btn-primary button utf-ripple-effect-dark register-btn" >Create profile</a>
            <a href="#" class="card-link  btn btn-primary button utf-ripple-effect-dark register-btn" style="margin-left: 50px;background-color: #fff; color: #407BFF; border: 1px solid #407BFF;">How it works</a>
        </div>
        </div>

      </div>

    </div>

  </section>