
<div class="padding">
  
    <div class="find-section">
      
      <div class="container">
        
        <div class="row toblock"  >
          <div class="col-md-6 col-lg-6 col-sm-6 forwidth1">
            
            <div class=" card-left   ">
              <h1 class="seekerstep" >Dream jobs awaits just 3 
              </h1>
              <h1 class="seekerstep"> Steps away
              </h1>
              <div class="card-body jsstep" >
                <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm-4">
                    <div class="inner-info-box text-center" id="line1">
                      <div class="img-box">
                        <i class="bi bi-person-add iconstyle1"></i>
                        <!-- <img src="./assets/images/employees.png"> -->
                      </div>
                      <h4 style="font-size: 18px; padding-top: 10px;">Create profile</h4>
                      <!-- <p>Fill a simple form and
                        create your profile</p> -->
        
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-4 ">
                    <div class="inner-info-box text-center">
                      <div class="img-box">
                        <i class="bi bi-file-text iconstyle2" ></i>
                        <!-- <img src="./assets/images/employees.png"> -->
                      </div>
                      <h4 style="font-size: 19px; padding-top: 10px;">Fill details</h4>
                      <!-- <p>Fill a simple form and
                        create your profile</p> -->
        
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-4">
                    <div class="inner-info-box text-center" id="line2" >
                      <div class="img-box">
                        <i class="bi bi-file-check iconstyle2" ></i>
                        <!-- <img src="./assets/images/employees.png"> -->
                      </div>
                      <h4 style="font-size: 19px; padding-top: 10px;" >Apply</h4>
                      <!-- <p>Fill a simple form and
                        create your profile</p> -->
        
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12" style="text-align: center;">
                  <a href="#" class="card-link  btn btn-primary button utf-ripple-effect-dark register-btn" >Get started</a>
                  <!-- <a href="#" class="card-link  btn btn-primary button utf-ripple-effect-dark register-btn">Create profile</a> -->
              </div>
                     
        
      
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 forwidth2">
            <div class="card card-right">
              <div class="card-body thumb" >
                <iframe class="thumb" src="https://www.youtube.com/embed/gRms8avCER8"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>