

<div id="client-section" class="padding">
    <div class="container">
      <div class="section-title " >
        
        <h1 class="blogtext" >Career resources
        </h1>
        <!-- <h4 style="color: #4540DB; padding-bottom: 0px; margin-top: -40px; font-size: 22px;text-align: right; ">View all
        </h4> -->
      
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 catcenter" >
        <a href="#" class="card-link  btn btn-primary button utf-ripple-effect-dark register-btn" >Blogs</a>
        <a href="#" class="card-link  btn btn-primary button utf-ripple-effect-dark register-btn mrleft" >Career tips</a>
        <a href="#" class="card-link  btn btn-primary button utf-ripple-effect-dark register-btn mrleft" >Interview tips</a>
        <a href="#" class="card-link  btn btn-primary button utf-ripple-effect-dark register-btn mrleft" >Resume tips</a>
    </div>
      <div class="mx-auto my-1 justify-content-center pfordesk" style="display: flex;">
        
              <div class="col-lg-4 col-md-6   ">
                <div class="post-slide">
                    <div class="post-img">
                      <img src="./assets/images/blog-img.jpg" alt="img">
                      <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                    </div>
                    <div class="post-content">
                      <h3 class="post-title">
                        How Does a Bank Make Money
                        Understanding the Profitable
                        Mechanisms of Banks?
                      </h3>
                      <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
                        consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
                      <!-- <span class="post-date"><i class="fa fa-clock-o"></i>DD/MM/YY</span> -->
                      <a href="#" class="read-more">read more<i class="bi bi-caret-right-fill"></i></a>
                    </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 ">
                <div class="post-slide">
                    <div class="post-img">
                      <img src="./assets/images/blog-img.jpg" alt="img">
                      <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                    </div>
                    <div class="post-content">
                      <h3 class="post-title">
                        How Does a Bank Make Money
                        Understanding the Profitable
                        Mechanisms of Banks?
                      </h3>
                      <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
                        consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
                      <!-- <span class="post-date"><i class="fa fa-clock-o"></i>DD/MM/YY</span> -->
                      <a href="#" class="read-more">read more<i class="bi bi-caret-right-fill"></i></a>
                      
                    </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4  disnone">
                <div class="post-slide">
                    <div class="post-img">
                      <img src="./assets/images/blog-img.jpg" alt="img">
                      <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                    </div>
                    <div class="post-content">
                      <h3 class="post-title">
                        How Does a Bank Make Money
                        Understanding the Profitable
                        Mechanisms of Banks?
                      </h3>
                      <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
                        consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
                      <!-- <span class="post-date"><i class="fa fa-clock-o"></i>DD/MM/YY</span> -->
                      <a href="#" class="read-more">read more<i class="bi bi-caret-right-fill"></i></a>
                    </div>
                  </div>
              </div>
            
            
      </div>
      
    </div>
  </div>


  <section class="padding">
    <div class="find-section">
      <div class="container">
        <div class="row" style="display: flex;"  >
          <div class="col-md-1 col-lg-2 col-sm-1">
            
          </div>
          <div class="col-md-10 col-lg-8 col-sm-10" id="heropop">
          <div class="col-md-12 col-lg-12 col-sm-12" >
            <div class="card card-left px-2 pfordesk">
              <div class="card-body" >
               
                <div class="row cardblock" >
                  <div class="col-md-12 col-lg-6 col-sm-12" >
                    <div class="crflex">
                    <p class="card-text " style="color: #000;margin-right: 5px;">Never miss an update
                      </p>
                    
                      <p class="card-text" style="color: #4540DB;">
                        Subscribe now!</p>
                      </div>
                  </div>


                  <div class="col-md-12 col-lg-6 col-sm-12"> 
                    <div class="row">
                        <div class="col-md-12">
                          <div class="utf-intro-banner-search-form-block margin-top-0">
              
                            <div class="utf-intro-search-field-item" style="margin-right:0px;border-right: none;">
              
                              <input id="intro-keywords" type="text" placeholder="inter your email">
                              
                              <div class="utf-intro-search-button">
                                <button class="button ripple-effect" style="background-color: #4540DB; color: #fff; padding: 0px 15px;" >Subscribe</button>
                              </div>
                            </div>
              
                            
                          </div>
              
                        </div>
                      </div>
                  </div>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-1 col-lg-2 col-sm-1">
            
          </div>
          <!-- <div class="col-md-6 col-lg-6 col-sm-6">
            <div class="card card-right px-5 py-4">
              <div class="card-body">
                <h2 class="card-title">I want to hire</h2>

                <p class="card-text" style="color: #0c2140;">Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry</p>
                <a href="#" class="card-link  btn btn-primary button utf-ripple-effect-dark register-btn">Post Job</a>

              </div>
            </div>
          </div> -->
        </div>
        
      </div>
    </div>

  </section>

  <!-- Client Section End -->