<div>
  
    <app-header></app-header> 
    <!-- <app-header1></app-header1> -->
    
    <app-head></app-head>
    <!-- <app-navbar></app-navbar> -->
  
    <app-hero></app-hero>
    <app-resume></app-resume>
    <app-seeker-steps></app-seeker-steps>
    <app-recruiter-steps></app-recruiter-steps>
    <app-jobs-category></app-jobs-category>
    <app-popular-jobs></app-popular-jobs>
    <app-blog></app-blog>
    <app-footer></app-footer>
  
  
    <!-- <app-seekerhead></app-seekerhead>
    <app-seekerbody></app-seekerbody>
    <app-footer></app-footer>
  
    <app-seekerhead></app-seekerhead>
    <app-editbody></app-editbody>
    <app-footer></app-footer> -->
  
  </div>
  <router-outlet></router-outlet>
